:root {
    --primary-color: #5e1722;
    --text-color: #fff;
    --accent1-color: #1354ae;
    --border-color: #000000;
    --heading-font: "Times New Roman", sans-serif;
    --body-font: Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
}

header img {
    width: 100%;
    height: auto;
    padding: 2px;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 20px #808080;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: var(--text-color);
}

.hero article {
    position: absolute;
    background-color: var(--accent1-color);
    color: var(--text-color);
    opacity: 0.7;
    bottom: 1em;
}

.hero article img {
    float: right;
    width: 125px;
    border: 1px solid var(--border-color);
    margin: 2px;
    padding: 3px;
}

/* flex and grid update */
header {
    display: grid;
    grid-template-columns: 180px auto;
    padding: 1rem;
    border: 1px solid var(--border-color);
    align-items: center;
    background-color: #00ffff;
    margin-bottom: 50px;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: var(--accent1-color);
    font-size: 1.5rem;
    justify-content: flex-end;
}

.navigation a:hover {
    text-decoration: underline;
}

.history {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin: 50px 0;
    gap: 2em;
    background-color: #00ffff;
    padding-bottom: 25px;
}

.history h2 {
    grid-column: 1/-1;
    grid-row: 1;
    justify-self: center;
    padding: 1em;
}

.history img {
    max-width: 100%;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background-color: #ffdbf8;
    margin: 50px 0;
    gap: 2em;
    max-width: 100%;
    padding-bottom: 20px;
}

.adventure img {
    width: 90%;
}

figcaption {
    align-self: center;
    justify-content: center;
}

.adventure h2 {
    grid-column: 1/-1;
    grid-row: 1;
    justify-self: center;
    padding: 1em;
}

footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 2rem;
    align-items: center;
    text-align: center;
    background-color: #ffdbf8;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}