:root {
    --background-color: #00008b;
    --heading-text-color: #00008b;
    --border-color: #00000033;
    --aside-measurement: 1em;
    --aside-background-color: #48b9de;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--heading-text-color)
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 15px #333;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    margin: var(--aside-measurement);
    border: 1px solid var(--border-color);
    padding: var(--aside-measurement);
    background-color: var(--aside-background-color);
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}